@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  font-family: 'Anton', sans-serif;
  margin: auto;
}

.header-title {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  height: 50vh;
  background-image: url(./images/nightbackground.jpg);
  background-position: bottom;
}

.form {
  text-align: center;
}

